@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Get A Quote!</h2>
    <p>To get you a quote, we need a few details: </p>


</div>
<div class="text-center mt-5">
    <h3>Where do you want your cleaning done?</h3>
    <div class="mt-4">
        <input type="radio" id="house" name="location" value="house">
        <label for="house">House</label><br>
        <input type="radio" id="office" name="location" value="office">
        <label for="office">Office</label><br>
        <input type="radio" id="warehouse" name="location" value="warehouse">
        <label for="warehouse">Warehouse</label><br />
        <input type="radio" id="commercial" name="location" value="commercial">
        <label for="commercial">Commercial Establishment</label>
    </div>
    <button class="btn btn-primary">Next <span class="fas fa-chevron-right"></span></button>
</div>
