@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Quotes" asp-action="Index" method="post" class="text-center">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <h2 class="display-4">Get A Quote!</h2>
        <p>To get you a quote, we need a few details: </p>


    </div>
    <div class="form-group mt-5" id="location">
        <h3>Where do you want your cleaning done?</h3>
        <div class="mt-4">
            <input type="radio" id="house" name="location" value="house">
            <label for="house">House</label><br>
            <input type="radio" id="office" name="location" value="office">
            <label for="office">Office</label><br>
            <input type="radio" id="warehouse" name="location" value="warehouse">
            <label for="warehouse">Warehouse</label><br />
            <input type="radio" id="commercial" name="location" value="commercial">
            <label for="commercial">Commercial Establishment</label>

        </div>
        <button type="button" class="btn btn-primary mt-2" id="first" onclick="NextPage(1)">Next <span class="fas fa-chevron-right"></span></button>
    </div>
    <div class="form-group mt-5" id="units" hidden>
        <h3>How many units need to be cleaned?</h3>
        <select class="form-control mt-3" name="numberUnits" id="nbrUnits" data-width="10%" onchange="OnNumberSelected()">
            <option value="DefaultNumber">-{- Select The Number Of Rooms in The House -}-</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select><br />
        <button type="button" class="btn btn-primary mt-2" id="secondPrev" onclick="PreviousPage(2)"><span class="fas fa-chevron-left"></span> Previous</button>
        <button type="button" class="btn btn-primary mt-2" id="second" onclick="NextPage(2)">Next <span class="fas fa-chevron-right"></span></button>

    </div>
    <div><p class="text-danger">@TempData["message"]</p></div>
    <div class="form-group mt-5" id="unitsTable" hidden>
        <h3>Units</h3>
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>Housing Units Or Work Units</th>
                    <th>Area/Sqft</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
        <button type="button" class="btn btn-primary mt-2" id="thirdPrev" onclick="PreviousPage(3)"><span class="fas fa-chevron-left"> Previous</span></button>
        

    </div>
    <div class="form-group mb-3" id="submit" hidden>
        <input type="submit" name="Submit" value="Calculate" />
    </div>

</form>
<div id="dropdown" hidden>
    <select class="form-control" name="UnitType" id="Units" data-width="10%" onchange="OptionSelected();">
        <option value="basement">Basement</option>
        <option value="bathroom">Bathroom</option>
        <option value="bedroom">Bedroom</option>
        <option value="diningroom">Dining Room</option>
        <option value="entrance">Entrance</option>
        <option value="garage">Garage</option>
        <option value="kitchen">Kitchen</option>
        <option value="livingroom">Living Room</option>
        <option value="stairs">Stairs</option>
    </select>
</div>
@*<div class="text-center mt-5" id="units">
        <h3>How many windows do you have in your house?</h3>
        <select class="form-control mt-3" name="numberUnits" id="nbrUnits" data-width="10%">
            <option value="zero">0</option>
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
            <option value="eight">8</option>
            <option value="nine">9</option>
            <option value="ten">10</option>
        </select><br />

        <button class="btn btn-primary mt-2">Next <span class="fas fa-chevron-right"></span></button>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}